# Marble Drawing Game with 4 Colors

In [1]:
from game import Game

In [2]:
game = Game(
    n_colors=4,
    n_balls=24,
    n_draws=12,
    rewards={
        '4332': +1, 
        '4431': +1, 
        '5322': +2, 
        '4422': +2, 
        '5421': +4, 
        '5331': +4, 
        '3333': +8, 
        '6321': +8, 
        '5430': +16,
        '6222': +16, 
        '4440': +32, 
        '5511': +32, 
        '6411': +64, 
        '5520': +64, 
        '6420': +128, 
        '6330': +128, 
        '6510': +256, 
        '6600': +256,
    },
    default_reward=20,
    fee=20)

In [3]:
game.metrics

         probs  payoffs      expR
case
4332  0.399385        1  0.399385
4431  0.119816        1  0.119816
5322  0.119816        2  0.239631
4422  0.112327        2  0.224654
5421  0.071889        4  0.287557
5331  0.063902        4  0.255607
3333  0.059168        8  0.473345
6321  0.015975        8  0.127803
5430  0.015975       16  0.255607
6222  0.004992       16  0.079877
4440  0.004992       32  0.159754
5511  0.002876       32  0.092018
6411  0.002396       64  0.153364
5520  0.002396       64  0.153364
6420  0.001997      128  0.255607
6330  0.001775      128  0.227206
6510  0.000320      256  0.081794
6600  0.000002      256  0.000568

In [4]:
game.client_expected_return

-16.413042738658568