# New Game 3 Colors

In [1]:
from game import Game

## Keep the original settings except we changed the rewards

In [2]:
game = Game(
    n_colors=3,
    n_balls=24,
    n_draws=12,
    rewards={
        '543': 1, '444': 2, '642': 4, '633': 8, 
        '552': 16, '732': 32, '651': 64, '741': 128, 
        '831': 256, '750': 512, '822': 1024, '660': 2048, '840': 4096
    },
    default_reward=0,
    fee=20)

## We also adjusted the fee to keep the house edge

In [3]:
game.fee

20

## The maximum reward is much higher than the original

In [4]:
game.metrics

         probs  payoffs      expR
case
543   0.487072        1  0.487072
444   0.126842        2  0.253684
642   0.121768        4  0.487072
633   0.097414        8  0.779316
552   0.097414       16  1.558632
732   0.027833       32  0.890647
651   0.027833       64  1.781294
741   0.009940      128  1.272353
831   0.000994      256  0.254471
750   0.000994      512  0.508941
822   0.000870     1024  0.890647
660   0.000870     2048  1.781294
840   0.000155     4096  0.636176

We have removed the negative punishment case and make it pay a $1 rewards, the player will feel better since he is guaranteed to collect rewards everytime.

In [5]:
game.client_expected_return

-8.41840189693198

We also increase the maximum reward for the very rare cases. This will give the player an illusion that he can win big sometimes, but in fact this happen far less likely than he can imagine.

## The new reward table is more attractive compared to the original

In [15]:
game.offer.sample(frac=1)

case
552      16
543       1
822    1024
732      32
831     256
840    4096
444       2
750     512
633       8
741     128
660    2048
642       4
651      64
Name: payoffs, dtype: int64